<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <a class="nav-link" routerLink="/{{tweet.user.username}}">
        <h5 class="card-title mb-0">{{tweet.user.username}}</h5>
      </a>
      <small class="text-muted">{{tweet.createdAt | date:'medium'}}</small>
    </div>
    <p class="card-text">{{tweet.content}}</p>
    <div class="d-flex justify-content-start">
      <div class="me-3">
        <i class="bi bi-heart"></i>
        <small>{{tweet.likeCount}} likes</small>
      </div>
      <div>
        <i class="bi bi-chat"></i>
        <small>{{tweet.replyCount}} replies</small>
      </div>
    </div>
    <div *ngIf="tweet.parentTweetId" class="mt-2">
      <a class="nav-link" routerLink="/{{tweet.user.username}}/status/{{tweet.id}}">
        <small class="text-muted"><i class="bi bi-arrow-return-right"></i>
          tweet #{{tweet.parentTweetId}}
        </small>
      </a>
    </div>
  </div>
</div>
