<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <h5 class="card-title mb-0">{{ user?.username }}</h5>
    </div>
    <div class="row text-center border-top pt-3">
      <div class="col-6">
        <h6 class="fw-bold mb-0">{{ user?.tweetCount }}</h6>
        <small class="text-muted">Tweets</small>
      </div>
      <div class="col-6">
        <h6 class="fw-bold mb-0">{{ user?.likeCount }}</h6>
        <small class="text-muted">Likes</small>
      </div>
    </div>
  </div>
</div>

